<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Мои посты</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Подключение Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
</head>
<body>
	<nav class="navbar navbar-expand-lg bg-body-tertiary rounded" aria-label="Twelfth navbar example">
		<div class="collapse navbar-collapse justify-content-md-center" id="navbar">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link active" th:href="@{/main}">Главная</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" th:href="@{/main/new_post}">Создать пост</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" th:href="@{/main/my_posts}">Мои посты</a>
				</li>
				<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle active" th:href="@{/main/my_posts}" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Профиль</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                            	<a th:href="@{/main/settings}" class="dropdown-item btn btn-link">Настройки</a>
                            </li>
                            <li>
                                <form th:action="@{/logout}" method="post" style="display: inline;">
                                    <button type="submit" class="dropdown-item btn btn-link">Выйти</button>
                                </form>
                            </li>
                       </ul>
				</li>
			</ul>
		</div>
	</nav>
	<div th:each="post : ${posts}">
	<div class="row g-0 align-items-center">
		<div class="col-5">
			<p th:text="${post.postText}" class="card card-body p-2 mb-0"/>
		</div>
		<div class="col-1 d-flex justify-content-end">
			<form th:method="DELETE" th:action="@{/main/myPosts/{id}(id=${post.postId})}" class="mb-0">
				<input type="submit" value="X" class="btn btn-danger btn-sm" />
			</form>
		</div>
	</div>
		<div th:if="${post != null and post.postImage != null and post.postImage.length > 0}" class="mt-3">
				<img th:src="@{/main/image/{id}(id=${post.postId})}" alt="Фото поста" class="img-fluid" />
		</div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>