<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Настройки</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Подключение Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
</head>
<body>
	<nav class="navbar navbar-expand-lg bg-body-tertiary rounded">
		<div class="collapse navbar-collapse justify-content-md-center" id="navbar">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link active" th:href="@{/main}">Главная</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" th:href="@{/main/new_post}">Создать пост</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" th:href="@{/main/my_posts}">Мои посты</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle active" id="navbarDropdownFriends" role="button" data-bs-toggle="dropdown">Друзья</a>
						<ul class="dropdown-menu">
							<li>
								<a th:href="@{/main/friends/my}" class="dropdown-item btn btn-link">Мои друзья</a>
							</li>
							<li>
								<a th:href="@{/main/friends}" class="dropdown-item btn btn-link">Найти друзей</a>
							</li>
						</ul>
				</li>
				<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle active" th:href="@{/main/settings}" id="navbarDropdown" role="button" data-bs-toggle="dropdown">Профиль</a>
                        <ul class="dropdown-menu">
                            <li>
                            	<a th:href="@{/main/settings}" class="dropdown-item btn btn-link">Настройки</a>
                            </li>
                            <th:block sec:authorize="hasRole('ADMIN') or hasRole('KING_ADMIN')">
                            	<li>
                            		<a th:href="@{/main/admin}" class="dropdown-item btn btn-link">Админ-панель</a>
                            	</li>
                            </th:block>
                            <li>
                                <form th:action="@{/logout}" method="post" style="display: inline;">
                                    <button type="submit" class="dropdown-item btn btn-link">Выйти</button>
                                </form>
                            </li>
                       </ul>
				</li>
			</ul>
		</div>
	</nav>
	<div>
		<p class="form-label h3 ms-2">Информация об аккаунте:</p>
	</div>
	<div class="row g-0">
		<div class="col p-0">
			<span class="form-label fw-bold ms-2">Аватарка: </span>
			<br />
			<th:block th:if="${person.avatar == null}">
			<img src="/images/default_avatar.jpg" alt="Фото профиля" class="img-fluid rounded ms-2" style="width: 150px; height: 150px; object-fit: cover;"/>
			</th:block>
			<th:block th:unless="${person.avatar == null}">
			<img th:src="@{/main/settings/avatar/{id}(id=${person.id})}" alt="Фото поста" class="img-fluid rounded ms-2" style="width: 150px; height: 150px; object-fit: cover;">
			</th:block>
		</div>
	</div>
	<div class="row g-0">
	    <div class="col p-0">
	        <span class="form-label fw-bold ms-2">Имя пользователя: </span>
	        <span th:text="${person.username}"/>
	    </div>
	</div>
	<div class="row g-0 mt-2">
	    <div class="col p-0">
	        <span class="form-label fw-bold ms-2">Почта: </span>
	        <span th:text="${person.email}" />
	    </div>
	</div>
	<div>
		<p class="form-label h3 mt-4 ms-2">Изменить информацию об аккаунте: </p>
		<form th:method="PATCH" th:action="@{/main/settings/{username}(username=${person.username})}" th:object="${person}" enctype="multipart/form-data">
			<label for="username" class="form-label ms-2">Введите новое имя пользователя: </label>
			<input type="text" th:field="*{username}" id="username" class="form-control w-50 ms-2" />
			<br/>
			<label for="email" class="form-label ms-2">Введите новый email: </label>
			<input type="email" th:field="*{email}" id="email" class="form-control w-50 ms-2" />
			<br />
			<label for="password" class="form-label ms-2">Введите новый пароль: </label>
			<input type="password" autocomplete="new-password" th:field="*{password}" id="password" class="form-control w-50 ms-2" />
			<br />
			<label for="avatar" class="from-label ms-2">Выберите изображение для фото профиля: </label>
			<input type="file" id="avatar" name="file" accept="image/*" class="form-control w-50 ms-2" />
			<br />
			<input type="submit" value="Изменить" class="btn btn-success ms-2" />
		</form>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>